*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #F1C93B;
    margin: 0%;
    padding: 0%;
}
.HeaderAContainer {
    width: 100%;
    background-color: #1A5D1A;
}
/* -------------------------------HEADER */


/* -------------------------------------*/
/* -------------------------------FOOTER */
footer{
    background-color: #1A5D1A;
    text-align: center;
    color: white;
    padding: 1em 1em;
    position: relative;
    bottom: 0px;
    width: 100%;
    
}
/* -------------------------------------*/
/* -------------------------------PAG PRINCIPAL */
.php{
    font-size: larger;
    color: white;
}
.regCampos{
    text-align: center;
    margin-top: 4%;
}
.registro_formulario{
    width: 40%;
    background-color: #fff;
    border-radius: 1em;
    border-style: solid;
    border-color: #1A5D1A;
    border-width: 3px;
}

/* -------------------------------------*/
.administrar_servicios_contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 4em;

    
}
.form_admin_servicios{
    width: 50%;
    border-style: solid;
    border-color: #1A5D1A;
    background-color: #F1C93B;
    border-radius: 2em;
    padding: 2em;
}
.botones_contenedor{
    display: flex;
    justify-content: center;
    grid-gap: 0.3em;
    
}
.boton{
 /* .boton_buscar, .boton_editar, .boton_eliminar{ */
    background-color: #1A5D1A;
    color: white;
    width: 40%;
    text-align: center;
}
.input{
    width: 60%;
}
.boton{
    background-color: #1A5D1A;
    color: white;
    width: 60%;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
}
.buscar_serv_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 4em;
}
.form_buscar_serv{
    width: 50%;
    border-style: solid;
    border-color: #1A5D1A;
    background-color: #F1C93B;
    border-radius: 2em;
    padding: 2em;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

#btnbuscar, #btnEliminar, #btnEditar{
    background-color: #1A5D1A;
    color: white;
    width: 60%;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
}
.botones_contenedor{
    display: flex;
    justify-content: center;
    grid-gap: 0.3em;
}
input{
    width: 100%;
    font-size: 16px;
    margin-bottom: 2%;
    border-radius: 1rem;
}
td{
    background-color: white;
}
.agenda_contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3em;
}
.agenda_formulario{
    width: 40%;
    background-color: #F1C93B;
    border-radius: 1em;
    border-style: solid;
    border-color: #1A5D1A;
    border-width: 3px;
    padding: 1.5rem;
}

.categorias{
    /* border: 5px solid red; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* width: 60%; */
}
/* .categoria-desayuno{
    border: 5px solid black;
}
.categoria-comida{
    border: 5px solid black;
}
.categoria-cena{
    border: 5px solid black;
} */
